# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
*.env
.env/

# Ignore IDE/editor directories and files
.vscode/
.idea/

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Add these lines to your .gitignore
*.db
logs/
logs/homebudget.log
